@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item active">Tickets</li>
</ol>

<div class="card">
    <div class="card-header bg-info text-white">
        <i class="fas fa-tags me-1"></i> Historial de Tickets
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-12 text-end">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tablaTickets" class="display cell-border table table-striped" style="width: 100%">
            <thead class="bg-primary text-white">
                <tr>
                    <th>IdTicket</th>
                    <th>IdCliente</th>
                    <th>Asunto</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Cierre</th>
                    <th>Prioridad</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtidticket" class="form-label">IdTicket</label>
                        <input type="text" class="form-control" id="txtidticket" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtidcliente" class="form-label">IdCliente</label>
                        <input type="text" class="form-control" id="txtidcliente" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtasunto" class="form-label">Asunto</label>
                        <input type="text" class="form-control" id="txtasunto" autocomplete="off">
                    </div>
                    <div class="col-sm-12">
                        <label for="txtdescripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="txtdescripcion" autocomplete="off"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtestado">Estado:</label>
                        <select class="form-control" id="txtestado" name="txtestado">
                            <option value="Pendiente">Pendiente</option>
                            <option value="Esperando contestación">Esperando contestación</option>
                            <option value="Cancelado">Cancelado</option>
                            <option value="Resuelto">Resuelto</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="txtfechacreacion" class="form-label">Fecha Creación</label>
                        <input type="text" class="form-control" id="txtfechacreacion" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtfechacierre" class="form-label">Fecha Cierre</label>
                        <input type="text" class="form-control" id="txtfechacierre" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="txtprioridad">Prioridad:</label>
                        <select class="form-control" id="txtprioridad" name="txtprioridad">
                            <option value="Baja">Baja</option>
                            <option value="Media">Media</option>
                            <option value="Alta">Alta</option>
                            <option value="Grave">Grave</option>
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <label for="txtcomentario" class="form-label">Comentario</label>
                        <textarea class="form-control" id="txtcomentario" autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert" style="display:none;">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

    <script>
        var tabladata;
        var filaSeleccionada;

        $(document).ready(function () {
            tabladata = $("#tablaTickets").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarTickets", "Mantenedor")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "IdTicket" },
                    { "data": "IdCliente" },
                    { "data": "Asunto" },
                    { "data": "Descripcion" },
                    { "data": "Estado" },
                    { "data": "FechaCreacion" },
                    { "data": "FechaCierre" },
                    { "data": "Prioridad" },
                    { "data": "Comentario" },
                    {
                        "data": null,
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });

            function OpenModal(json) {
                // Limpiar los campos
                $("#txtidticket").val(0);
                $("#txtidcliente").val("");
                $("#txtasunto").val("");
                $("#txtdescripcion").val("");
                $("#txtestado").val("");
                $("#txtfechacreacion").val("");
                $("#txtfechacierre").val("");
                $("#txtprioridad").val("");
                $("#txtcomentario").val("");
                $("#mensajeError").hide();
                $("#txtidticket").prop('disabled', false);
                $("#txtidcliente").prop('disabled', false);
                $("#txtfechacreacion").prop('disabled', false);

                if (json != null) {
                    $("#txtidticket").val(json.IdTicket);
                    $("#txtidcliente").val(json.IdCliente);
                    $("#txtasunto").val(json.Asunto);
                    $("#txtdescripcion").val(json.Descripcion);
                    $("#txtestado").val(json.Estado);
                    $("#txtfechacreacion").val(json.FechaCreacion);
                    $("#txtfechacierre").val(json.FechaCierre);
                    $("#txtprioridad").val(json.Prioridad);
                    $("#txtcomentario").val(json.Comentario);
                    $("#txtidticket").prop('disabled', true);
                    $("#txtidcliente").prop('disabled', true);
                    $("#txtfechacreacion").prop('disabled', true);
                }

                $("#FormModal").modal("show");
            }

            $('#tablaTickets tbody').on('click', '.btn-editar', function () {
                filaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(filaSeleccionada).data();
                console.log("Datos del ticket para editar:", data);
                OpenModal(data);
            })

            $('#tablaTickets tbody').on('click', '.btn-eliminar', function () {
                var ticketseleccionado = $(this).closest("tr");
                var data = tabladata.row(ticketseleccionado).data();
                console.log("Datos del ticket para eliminar:", data);

                swal({
                    title: "¿Está Seguro?",
                    text: "¿Desea eliminar el ticket?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarTicket", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdTicket }),
                        contentType: "application/json;charset=utf-8",
                        success: function (respuesta) {
                            if (respuesta.resultado) {
                                tabladata.row(ticketseleccionado).remove().draw();
                            } else {
                                swal("No se pudo eliminar", respuesta.mensaje, "error");
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
            });
        });

        function Guardar() {
            var Ticket = {
                IdTicket: $("#txtidticket").val(),
                IdCliente: $("#txtidcliente").val(),
                Asunto: $("#txtasunto").val(),
                Descripcion: $("#txtdescripcion").val(),
                Estado: $("#txtestado").val(),
                FechaCreacion: $("#txtfechacreacion").val(),
                FechaCierre: $("#txtfechacierre").val(),
                Prioridad: $("#txtprioridad").val(),
                Comentario: $("#txtcomentario").val()
            };

            jQuery.ajax({
                url: '@Url.Action("GuardarTicket", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Ticket }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    if (Ticket.IdTicket == 0) {
                        if (data.resultado != 0) {
                            Ticket.IdTicket = data.resultado;
                            tabladata.row.add(Ticket).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Ticket).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                }
            });
        }
    </script>
}
